:root {
  --red: hsl(0, 70%, 60%);
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  display: grid;
}

#app {
  display: grid;
  grid-template-areas: "image title" "image content";
  grid-template-columns: 1fr 1fr;
  padding: 4rem 2rem;
  background: var(--bg) no-repeat center center/cover;
  place-content: center;
  gap: 2rem;
}

#app::before {
  content: "";
  grid-area: image;
}

#app h1,
#app p {
  margin: 0;
}

#app h1 {
  grid-area: title;
  color: var(--red);
}

#app p {
  grid-area: content;
  color: white;
  font-size: 1.2rem;
}